<ion-header>
 
</ion-header>
<ion-content>



  <div class="contenido ion-padding">
    <ion-toolbar>
      <ion-title>Persona</ion-title>
    </ion-toolbar>

    <ion-item>
      <ion-label color="light" position="floating">Nombre y Apellido </ion-label>

      <ion-input type=text name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light" position="floating">Contraseña </ion-label>

      <ion-input type=password name="password"></ion-input>
    </ion-item>

    <ion-item>

      <ion-label color="light" position="floating">Correo </ion-label>


      <ion-input type=text name="email"></ion-input>

    </ion-item>

    <ion-item>
      <ion-label color="light" position="floating">Celular </ion-label>

      <ion-input type=text name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light" position="absolute"> Sexo </ion-label>


      <ion-label color="light"></ion-label>
      <ion-select color="light" placeholder="Selecioná">
        <ion-select-option color="light" value="f">Mujer</ion-select-option>
        <ion-select-option color="light" value="m">Hombre</ion-select-option>
        <ion-select-option color="light" value="nb">No Binario</ion-select-option>
      </ion-select>

    </ion-item>


    <br>
    <br>



    <div style="position: absolute; top: 50vh; transform: translate(-50%, -50%); left: 50vw;">
      <ion-text color="light">
        <h1 class="fontface"></h1>
      </ion-text>
    </div>


    <div class="ion-text-center">
      <ion-button routerLink="/segunda" color="light" fill="clear" (click)="ingresar(usuario)">
        siguiente
        <ion-icon name="arrow"></ion-icon>
      </ion-button>
    </div>

  </div>



</ion-content>