<ion-header>
  <div style="background: rgb(194, 25, 55);">
    <ion-buttons slot="start">
      <ion-back-button color="light">
      </ion-back-button>
    </ion-buttons>
  </div>
  <ion-toolbar>    
    <div class="ion-text-center">
      <img class="user-img1" src="../../assets/imgs/gastronomia2.png" alt="">
      <h2 style="margin: 0; padding: 0; color: white"> Mirano </h2>
      <h2 style="margin: 0; padding: 0; color: white"> 3.5 <ion-icon style="color: yellow" name="star"></ion-icon>
      </h2>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item fill="clear">
    <ion-thumbnail slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
    <ion-label >
      <h3 style="color: red;">Juncal 2930</h3>
      <p class="ion-text-wrap">30/12/2020. 11:50pm</p>
      <h2>Milanesa</h2>
      <p>1 unidad</p>
      <p>$ 950,00</p>
    </ion-label>
  </ion-item>
    <ion-item>

    
        <ion-label color="black" position="absolute"> Forma de Pago </ion-label>
  
  
        <ion-label color="light"></ion-label>
        <ion-select color="light" placeholder="Efectivo">
          <ion-select-option color="light" value="f">Efectivo</ion-select-option>
          <ion-select-option color="light" value="m">Tarjeta de Credito</ion-select-option>
          <ion-select-option color="light" value="nb">BenePuntos</ion-select-option>
        </ion-select>

  </ion-item>
  <ion-item>
    <h1>Precio Total
    </h1>
    <ion-icon slot="end" name="arrow-dropup"></ion-icon>
    
  </ion-item>

  <ion-list>
   
    <ion-grid>
      <ion-row>
          <ion-col size="8">
              <ion-item>                    
                  <ion-label placeholder="Nombre del Articulo">Subtotal productos</ion-label>
              </ion-item>
          </ion-col>
          <ion-col size="4">
              <ion-item>                    
                  <ion-label placeholder="Precios del Articulo (ARS)">$395,00 </ion-label>
              </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
          <ion-col size="8">
              <ion-item>                    
                  <ion-label placeholder="Nombre del Articulo">Delivery</ion-label>
              </ion-item>
          </ion-col>
          <ion-col size="4">
              <ion-item>                    
                  <ion-label placeholder="Precios del Articulo (ARS)">$70,00 </ion-label>
              </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
          <ion-col size="8">
              <ion-item>                    
                  <ion-label placeholder="Nombre del Articulo">Propina</ion-label>
              </ion-item>
          </ion-col>
          <ion-col size="4">
              <ion-item>                    
                  <ion-label placeholder="Precios del Articulo (ARS)">$20,00 </ion-label>
              </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>
    </ion-list>
    <ion-grid>
      <ion-row>
          <ion-col size="8">
              <ion-item>                    
                  <ion-label placeholder="Nombre del Articulo">Total Costo</ion-label>
              </ion-item>
          </ion-col>
          <ion-col size="4">
              <ion-item>                    
                  <ion-label placeholder="Precios del Articulo (ARS)">$494,00 </ion-label>
              </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>
      <ion-item>
        <h1>Descuentos</h1>
        <ion-icon slot="end" name="arrow-dropup"></ion-icon>
        
      </ion-item>
      
      <ion-grid>
        <ion-row>
            <ion-col size="8">
                <ion-item>                    
                    <ion-label placeholder="Nombre del Articulo">Descuentos por tienda</ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="4">
                <ion-item>                    
                    <ion-label color="danger" placeholder="Precios del Articulo (ARS)">-$205,00 </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
            <ion-col size="8">
                <ion-item>                    
                    <ion-label placeholder="Nombre del Articulo">Total descuentos</ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="4">
                <ion-item>                    
                    <ion-label color="danger" placeholder="Precios del Articulo (ARS)">-$205,00 </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
            <ion-col size="8">
                <ion-item>                    
                    <ion-label placeholder="Nombre del Articulo">Descuentos por tienda</ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="4">
                <ion-item>                    
                    <ion-label placeholder="Precios del Articulo (ARS)">$204,01 </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
