<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>

    <ion-title color="light">
      <p routerLink="/segunda" class="fonface">BeneficioSi</p>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/map">
        <ion-icon style="color: white;" name="globe"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon style="color: white;" name="cart"></ion-icon>
        <ion-badge color="light">{{contadorItems | async}}</ion-badge>
      </ion-button>
      <ion-button>
        <ion-icon style="color: white;" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content>
  <h1 style="margin-left: 7vw;">Tu Cesta</h1>
  <ion-card mode="ios" class="ion-padding">
    <p>Subtotal</p>
    <h1>$ {{subtotal.value}}</h1>
  </ion-card>
  <ion-list>
    <ion-card *ngFor="let product of carrito" mode="ios" class="ion-padding">
      <div class="ion-text-right">
        <ion-button fill="clear" color="light" target="_blank"  href="https://api.whatsapp.com/send?phone=5491123916734&amp;text=Hola soy Franco Duek quisiera comprar: {{product.nombre}} ">
          
          <ion-icon color="success" name="logo-whatsapp">
             </ion-icon>
        </ion-button>
        
        <ion-button fill="clear" color="light" routerLink="/ver-mapa">
          
          <ion-icon color="danger" name="pin">
             </ion-icon>
        </ion-button>
      </div>
      
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="{{product.imagen}}" alt="">
        </ion-thumbnail>
        <ion-label>
          <h3>{{product.nombre}}</h3>
          <p>{{product.descripcion}}</p>
          <h3>precio: $ {{product.precio}}</h3>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="disminuirProducto(product)">
            <ion-icon name="remove"></ion-icon>
          </ion-button>
          <p>
            {{product.cantidad}}
          </p>
          <ion-button (click)="agregarProducto(product)">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-item routerLink="/checkout" color="danger"
    style="position: fixed; bottom: 11px; width: 100%; left: 0; border-radius: 25px;">
    <ion-button color="danger" slot="start">
      <span color="light">{{contadorItems | async}}</span>
    </ion-button>
    <ion-label class="ion-text-center" style="margin-left: 25px;">Ir a pagar</ion-label>
    <ion-label class="ion-text-right" style="margin-left: -80px;">$ {{subtotal.value}}</ion-label>


  </ion-item>
</ion-content>