<ion-header>
    <ion-toolbar>
        <ion-buttons slot="bottom">
            <ion-button color="light" (click)="mostrarcategoria()">
                <ion-icon name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="light">
            <p routerLink="/segunda" class="fonface"> <ion-text position="absolute"> Comentarios</ion-text> </p>
        </ion-title>
      
      <ion-icon slot="end" class="custom-icons1" style="color: white;" name="chatboxes"></ion-icon>
      <ion-icon slot="start" class="custom-icons" style="color: white;" name="arrow-round-back"></ion-icon>
 
  </ion-toolbar>
  <div class="mostrarmenu12" id="menu1"
      style="display: none; background: rgb(235, 78, 78, .5); border-radius: 20px; position: absolute;">
      <ion-item class="mostrarmenu12">Gastronomia</ion-item>
      <ion-item class="mostrarmenu12">Espectaculos</ion-item>
      <ion-item class="mostrarmenu12">Boliches</ion-item>
      <ion-item class="mostrarmenu12">Supermercados</ion-item>
      <ion-item class="mostrarmenu12">Farmacias</ion-item>
  </div>
  
</ion-header>

<ion-content>
   <div> <img class="prueba1" class="user-img" src="../../assets/imgs/gastronomia2.png" alt="">  
    <h2 style="top:0;" class="prueba1">Carlos</h2>
    <ion-icon style="color: rgb(238, 74, 74);" size="large" name="star"></ion-icon>
    <ion-icon style="color: rgb(238, 74, 74);" size="large" name="star"></ion-icon>
    <ion-icon style="color: rgb(238, 74, 74);" size="large" name="star"></ion-icon>
    <ion-icon style="color: rgb(238, 74, 74);" size="large" name="star"></ion-icon>
    <ion-icon style="color: rgb(238, 74, 74);" size="large" name="star-outline"></ion-icon></div>
    
    <ion-label> el concepto de la aplicacion es algo bastante complejo, porque quiere reunir 5 comparadores en una sola aplicacion demás de ambicioso.</ion-label>

    <img class="prueba1" class="user-img" src="../../assets/imgs/boliches2.png" alt="">  
    <h2 class="prueba1">Oralis</h2>
    <ion-icon style="color: rgb(238, 74, 74);" size="large" name="star"></ion-icon>
    <ion-icon style="color: rgb(238, 74, 74);" size="large" name="star"></ion-icon>
    <ion-icon style="color: rgb(238, 74, 74);" size="large" name="star"></ion-icon>
    <ion-icon style="color: rgb(238, 74, 74);" size="large" name="star"></ion-icon>
    <ion-icon style="color: rgb(238, 74, 74);" size="large" name="star-outline"></ion-icon>
    <p></p>
    <ion-label> el concepto de la aplicacion es algo bastante complejo, porque quiere reunir 5 comparadores en una sola aplicacion demás de ambicioso.</ion-label>
    
    <img class="prueba1" class="user-img" src="../../assets/imgs/boliches2.png" alt="">  
    <h2 class="prueba1">Oralis</h2>
    <ion-icon style="color: rgb(238, 74, 74);" size="large" name="star"></ion-icon>
    <ion-icon style="color: rgb(238, 74, 74);" size="large" name="star"></ion-icon>
    <ion-icon style="color: rgb(238, 74, 74);" size="large" name="star"></ion-icon>
    <ion-icon style="color: rgb(238, 74, 74);" size="large" name="star"></ion-icon>
    <ion-icon style="color: rgb(238, 74, 74);" size="large" name="star-outline"></ion-icon>
    <p></p>
    <ion-label > el concepto de la aplicacion es algo bastante complejo, porque quiere reunir 5 comparadores en una sola aplicacion demás de ambicioso.</ion-label>

   div <img class="user-img" src="../../assets/imgs/farmacia2.png" alt="">  
    <h3 class="prueba1">Jeyver</h3>
    
  
    
      
        <ion-item style="border: rgb(238, 74, 74) solid 3px;">
          <ion-label size="small" color="dark" position="floating"> Escribe tus comentarios </ion-label>
      
          <ion-input type=text name="email"></ion-input>
        </ion-item>
        <ion-icon style="color: rgb(238, 74, 74);" size="large" name="star"></ion-icon>
    <ion-icon  style="color: rgb(238, 74, 74);" size="large" name="star"></ion-icon>
    <ion-icon style="color: rgb(238, 74, 74);" size="large" name="star"></ion-icon>
    <ion-icon style="color: rgb(238, 74, 74);" size="large" name="star"></ion-icon>
    <ion-icon style="color: rgb(238, 74, 74);" size="large" name="star-outline"></ion-icon>
</ion-content>

