<ion-header>
  <div style="background: rgb(194, 25, 55);">
    <ion-buttons slot="start">
      <ion-back-button color="light">
      </ion-back-button>
    </ion-buttons>
  </div>
  <ion-toolbar>    
    <div class="ion-text-center">
      <img class="user-img1" src="../../assets/imgs/gastronomia2.png" alt="">
      <h2 style="margin: 0; padding: 0; color: white"> Mirano </h2>
      <h2 style="margin: 0; padding: 0; color: white"> 3.5 <ion-icon style="color: yellow" name="star"></ion-icon>
      </h2>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
    <ion-label>
      <p class="ion-text-wrap">30/12/2020. 11:50pm</p>
      <h2>Astrid Vicuña</h2>
      <p>$ 950,00</p>
    </ion-label>
    <ion-button color="danger" fill="outline" slot="end" routerLink="/empresaveresumen">Ver Resumen</ion-button>

  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
    <ion-label>
      <p class="ion-text-wrap">30/12/2020. 11:50pm</p>
            <h2>Astrid Vicuña</h2>
      <p>$ 950,00</p>
    </ion-label>
    <ion-button color="danger" fill="outline" slot="end">Ver Resumen</ion-button>

  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
    <ion-label>
      <p class="ion-text-wrap">30/12/2020. 11:50pm</p>
      <h2>Astrid Vicuña</h2>
      <p>$ 950,00</p>
    </ion-label>
    <ion-button color="danger" fill="outline" slot="end">Ver Resumen</ion-button>

  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
    <ion-label>
      <p class="ion-text-wrap">30/12/2020. 11:50pm</p>
      <h2>Astrid Vicuña</h2>
      <p>$ 950,00</p>
    </ion-label>
    <ion-button color="danger" fill="outline" slot="end">Ver Resumen</ion-button>

  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
    <ion-label>
      <p class="ion-text-wrap">30/12/2020. 11:50pm</p>
      <h2>Astrid Vicuña</h2>
      <p>$ 950,00</p>
    </ion-label>
    <ion-button color="danger" fill="outline" slot="end">Ver Resumen</ion-button>

  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
    <ion-label>
      <p class="ion-text-wrap">30/12/2020. 11:50pm</p>
      <h2>Astrid Vicuña</h2>
      <p>$ 950,00</p>
    </ion-label>
    <ion-button color="danger" fill="outline" slot="end">Ver Resumen</ion-button>

  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
    <ion-label>
      <p class="ion-text-wrap">30/12/2020. 11:50pm</p>
      <h2>Astrid Vicuña</h2>
      <p>$ 950,00</p>
    </ion-label>
    <ion-button color="danger" fill="outline" slot="end">Ver Resumen</ion-button>

  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
    <ion-label>
      <p class="ion-text-wrap">30/12/2020. 11:50pm</p>
      <h2>Astrid Vicuña</h2>
      <p>$ 950,00</p>
    </ion-label>
    <ion-button color="danger" fill="outline" slot="end">Ver Resumen</ion-button>

  </ion-item>
  

</ion-content> 
