<ion-header >
  <ion-toolbar >
    <ion-title>
      Empresa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenido">
    <ion-item>
      <ion-label color="light" position="floating">Nombre de Empresa </ion-label>

      <ion-input color="light" type=text name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="light" position="floating">Correo </ion-label>

      <ion-input color="light" type=text name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light" position="floating">Contraseña </ion-label>

      <ion-input color="light" type=password name="password"></ion-input>
    </ion-item>

    <ion-item>

      <ion-label color="light" position="floating">Celular </ion-label>


      <ion-input color="light" type=text name="email"></ion-input>

    </ion-item>

    <ion-item>
      <ion-label color="light" position="floating">Whatsapp </ion-label>

      <ion-input color="light" type=text name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light" position="floating">Instragram </ion-label>

      <ion-input color="light" type=text name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light" position="floating">Facebook </ion-label>

      <ion-input color="light" color="light" type=text name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light" position="floating">Pagina Web </ion-label>

      <ion-input color="light" type=text name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light" position="floating">horarios </ion-label>

      <ion-input color="light" type=text name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light" position="floating">Categoria </ion-label>

      <ion-input color="light" type=text name="email"></ion-input>
    </ion-item>
    <br>
    <br>
  
    
    <div class="ion-text-center">
      <ion-button color="light">
        Ubicación 
        <ion-icon name="pin"></ion-icon>
      </ion-button>
      <ion-button color="light">
        tarjetas
        <ion-icon name="card"></ion-icon>
      </ion-button>
      <div class="ion-text-center">
        <ion-button routerLink="/empresa" color="light">
          siguiente
          <ion-icon name="arrow-round-forward"></ion-icon>
        </ion-button>
      </div>

    </div>
  

  </div>

</ion-content>