.contenido{
    height: 110vh;
    background: linear-gradient(#3f374e, #6b3253);
    background-size: 100% 100%;
}

.fontface{
    font-family: 'Alex Brush', cursive;
    font-size: 20vw;
}
ion-item{
    --background: transparent;
 }


 ion-label{
     --background: transparent; }

ion-input{
     --background: transparent; }

        
