<ion-content>


  <div class="contenido ion-padding ">

    <div class="ion-text-center div-margin">
      <img class="user-img" src="../../assets/imgs/logo-beneficios-si.png" alt="">

    </div>

    <div class="div-margin">
      <ion-item>
        <ion-label color="light" position="floating">Nombre y Apellido </ion-label>

        <ion-input color="light" type=text name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="light" position="floating">Contraseña </ion-label>

        <ion-input color="light" type=password name="password"></ion-input>
      </ion-item>
    </div>
    <div class="ion-text-center div-margin">
      <ion-button shape="round" color="light">
        entrar
      </ion-button>
      <h1 style="color: white;">
        ¿No tienes cuenta?
      </h1>
      <p style=color:white>
        Registrate <a routerLink="/registro" href="">aqui</a> o Registro con
      </p>
    </div>

    <div class="ion-text-center div-margin">
      <ion-button shape="round" color="danger">Google</ion-button>
      <ion-button shape="round">Facebook</ion-button>
    </div>
  </div>






</ion-content>