<ion-header>

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="mostrarcategoria()">
                <ion-icon name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="light">
            <p routerLink="/segunda" class="fonface">BeneficioSi</p>
        </ion-title>
        
        <ion-icon routerLink="/map" slot="end" class="custom-icons" style="color: white;" name="globe"></ion-icon>
        <ion-icon slot="end" routerLink="/canasta" class="custom-icons" style="color: white;" name="cart"></ion-icon>
        <ion-icon slot="end" routerLink="/perfil" class="custom-icons" style="color: white;" name="person"></ion-icon> 
   
    </ion-toolbar>
    <div class="mostrarmenu12" id="menu1"
        style="display: none; background: rgb(235, 78, 78, .5); border-radius: 20px; position: absolute;">
        <ion-item class="mostrarmenu12">Gastronomia</ion-item>
        <ion-item class="mostrarmenu12">Espectaculos</ion-item>
        <ion-item class="mostrarmenu12">Boliches</ion-item>
        <ion-item class="mostrarmenu12">Supermercados</ion-item>
        <ion-item class="mostrarmenu12">Farmacias</ion-item>
    </div>

    <ion-searchbar class="busqueda">


    </ion-searchbar>
<ion-item>
    <ion-icon class="icons2" name="logo-model-s"></ion-icon>
    <ion-icon class="icons2" name="pricetags"></ion-icon>
    <ion-icon class="icons2" name="star-outline" (click)="openValoracion()"></ion-icon>
    <ion-icon class="icons2" name="heart"></ion-icon>

</ion-item>

</ion-header>
<ion-content>
<div #googlemaps id="googlemaps">

</div>
</ion-content>