<ion-header>
    <div style="background: rgb(194, 25, 55);">
      <ion-buttons slot="start">
        <ion-back-button color="light"></ion-back-button>
      </ion-buttons>
    </div>
    <ion-toolbar>    
      <div class="ion-text-center">
        <img class="user-img1" src="../../assets/imgs/gastronomia2.png" alt="">
        <h2 style="margin: 0; padding: 0; color: white"> Mirano </h2>
      </div>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-item><ion-icon name="logo-instagram"></ion-icon><ion-label>@mirano</ion-label><ion-icon name="create"></ion-icon></ion-item>
  
  <ion-item><ion-icon name="logo-facebook"></ion-icon><ion-label>Mirano Big Food</ion-label><ion-icon name="create"></ion-icon></ion-item>
  
<ion-item><ion-icon name="logo-twitter"></ion-icon><ion-label>@mirano</ion-label><ion-icon name="create"></ion-icon></ion-item>

<ion-item><ion-icon name="logo-whatsapp"></ion-icon><ion-label>+54-911-2391-6734</ion-label><ion-icon name="create"></ion-icon></ion-item>


</ion-content> 