ion-toolbar {
    --background: linear-gradient(#ea615f, #bd1232);
    
    }
    #googlemaps{
        height: 30vh;
        width: 100%;
    }

    .img {
        height: 50px;
        width: 105px;
        border-radius: 5px;

    }

    .img1 {
        height: 50px;
        width: 105px;

    }