<ion-header>
  <div style="background: rgb(194, 25, 55);">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </div>
  <ion-toolbar>    
    <div class="ion-text-center">
      <img class="user-img1" src="../../assets/imgs/gastronomia2.png" alt="">
      <h2 style="margin: 0; padding: 0; color: white"> Mirano </h2>
      <h2 style="margin: 0; padding: 0; color: white"> 3.5 <ion-icon style="color: yellow" name="star"></ion-icon>
      </h2>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
    <ion-label>
      <h2>Oralis
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star-half"></ion-icon>
        <ion-icon color="danger" name="star-outline"></ion-icon>
      </h2>
      <p>Excelente comida</p>
    </ion-label>
    <!--Aca le estamos pasando a la funcion el valor alerta 1-->
    <ion-button fill="outline" slot="end" (click)="presentAlertPrompt('Comentario de Oralis')">Ver</ion-button>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
    <ion-label>
      <h2>Jeyver
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star-half"></ion-icon>
        <ion-icon color="danger" name="star-outline"></ion-icon>
      </h2>
      <p>Excelente comida</p>
    </ion-label>
    <!--Aca le estamos pasando a la funcion el valor alerta 2-->
    <ion-button fill="outline" slot="end" (click)="presentAlertPrompt('Comentario de Jeyver')">Ver</ion-button>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
    <ion-label>
      <h2>Oralis
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star-half"></ion-icon>
        <ion-icon color="danger" name="star-outline"></ion-icon>
      </h2>
      <p>Excelente comida</p>
    </ion-label>
    <ion-button fill="outline" slot="end" (click)="presentAlertPrompt('Comentario de Oralis')">Ver</ion-button>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
    <ion-label>
      <h2>Oralis
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star-half"></ion-icon>
        <ion-icon color="danger" name="star-outline"></ion-icon>
      </h2>
      <p>Excelente comida</p>
    </ion-label>
    <ion-button fill="outline" slot="end" (click)="presentAlertPrompt('Comentario de Oralis')">Ver</ion-button>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
    <ion-label>
      <h2>Oralis
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star-half"></ion-icon>
        <ion-icon color="danger" name="star-outline"></ion-icon>
      </h2>
      <p>Excelente comida</p>
    </ion-label>
    <ion-button fill="outline" slot="end" (click)="presentAlertPrompt('Comentario de Oralis')">Ver</ion-button>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
    <ion-label>
      <h2>Oralis
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star-half"></ion-icon>
        <ion-icon color="danger" name="star-outline"></ion-icon>
      </h2>
      <p>Excelente comida</p>
    </ion-label>
    <ion-button fill="outline" slot="end" (click)="presentAlertPrompt('Comentario de Oralis')">Ver</ion-button>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
    <ion-label>
      <h2>Oralis
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star-half"></ion-icon>
        <ion-icon color="danger" name="star-outline"></ion-icon>
      </h2>
      <p>Excelente comida</p>
    </ion-label>
    <ion-button fill="outline" slot="end" (click)="presentAlertPrompt('Comentario de Oralis')">Ver</ion-button>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-thumbnail>
    <ion-label>
      <h2>Oralis
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star"></ion-icon>
        <ion-icon color="danger" name="star-half"></ion-icon>
        <ion-icon color="danger" name="star-outline"></ion-icon>
      </h2>
      <p>Excelente comida</p>
    </ion-label>
    <ion-button fill="outline" slot="end" (click)="presentAlertPrompt('Comentario de Oralis')">Ver</ion-button>
  </ion-item>


</ion-content>