ion-content{
    --background: rgb(195, 28, 56);
    
}

ion-item{

    --background: transparent ;
   
}

ion-list{
    background: transparent ;
}
.user-img {

    height: 80px;
    width: 80px; 
    border-radius: 100%;
}