<ion-header>
  <div style="background: rgb(194, 25, 55);">
    <ion-buttons slot="start">
      <ion-back-button color="light">
      </ion-back-button>
    </ion-buttons>
  </div>
  <ion-toolbar>    
    <div class="ion-text-center">
      <img class="user-img1" src="../../assets/imgs/gastronomia2.png" alt="">
      <h2 style="margin: 0; padding: 0; color: white"> Mirano </h2>
      <h2 style="margin: 0; padding: 0; color: white"> 3.5 <ion-icon style="color: yellow" name="star"></ion-icon>
      </h2>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="danger">
  <div  class="ion-text-center" > 
    <h1  style="color: white;">Mis Tarjetas </h1>
    
  </div>
 
</ion-item>
<ion-item>
<div>
  <h2>Banco Galicia</h2>
</div>
<ion-icon slot="end" name="arrow-forward"></ion-icon>
</ion-item>


<ion-item color="danger"><ion-toggle color="success" slot="start"></ion-toggle> <ion-label>Nombre de Tarjeta</ion-label></ion-item>
<ion-item color="danger"><ion-toggle color="success" slot="start"></ion-toggle> <ion-label>Nombre de Tarjeta</ion-label></ion-item>
<ion-item color="danger"><ion-toggle color="success" slot="start"></ion-toggle> <ion-label>Nombre de Tarjeta</ion-label></ion-item>
<ion-item color="danger"><ion-toggle color="success" slot="start"></ion-toggle> <ion-label>Nombre de Tarjeta</ion-label></ion-item>
<ion-item color="danger"><ion-toggle color="success" slot="start"></ion-toggle> <ion-label>Nombre de Tarjeta</ion-label></ion-item>
<ion-item color="danger"><ion-toggle color="success" slot="start"></ion-toggle> <ion-label>Nombre de Tarjeta</ion-label></ion-item>
<ion-item color="danger"><ion-toggle color="success" slot="start"></ion-toggle> <ion-label>Nombre de Tarjeta</ion-label></ion-item>
<ion-item color="danger"><ion-toggle color="success" slot="start"></ion-toggle> <ion-label>Nombre de Tarjeta</ion-label></ion-item>
<ion-item color="danger"><ion-toggle color="success" slot="start"></ion-toggle> <ion-label>Nombre de Tarjeta</ion-label></ion-item>
<ion-item color="danger"><ion-toggle color="success" slot="start"></ion-toggle> <ion-label>Nombre de Tarjeta</ion-label></ion-item>
<ion-item color="danger"><ion-toggle color="success" slot="start"></ion-toggle> <ion-label>Nombre de Tarjeta</ion-label></ion-item>
<ion-item color="danger"><ion-toggle color="success" slot="start"></ion-toggle> <ion-label>Nombre de Tarjeta</ion-label></ion-item>
<ion-item color="danger"><ion-toggle color="success" slot="start"></ion-toggle> <ion-label>Nombre de Tarjeta</ion-label></ion-item>

</ion-content>
