.box{
    overflow-y: hidden;
    overflow-x: scroll;
    height: 11vh;
    white-space: nowrap;
}

.imagenes-box{
    height: 100%;
    width: 20vh;
    margin-left: 10px;
}

.img1 {
    height: 70px;
    width: 135px;

}

ion-toolbar {
    --background: linear-gradient(#ea615f, #bd1232);
  
  }