
ion-content{
    --background: rgb(194, 25, 55);
}

ion-item{

    --background: transparent ;
   
}

ion-list{
    background: transparent ;
}

.user-img {

    height: 25px;
    width: 25px; 
}
.user-img1 {

    height: 80px;
    width: 80px; 
    border-radius: 100%;}
   