<ion-content>
  <div class="ion-text-center" style="margin-top: 10px;">
    <img class="user-img1" src="../../assets/imgs/gastronomia2.png" alt="">
    <h2 style="margin: 0; padding: 0; color: white;"> Mirano Big Food </h2>
  </div>

    <div>
      <ion-item routerLink="/empresaconfig">
        <ion-label style="color: white">Configuración de la Empresa</ion-label> <img
          class="user-img" src="../../assets/imgs/diente.svg" alt="">
      </ion-item>
      <ion-item  routerLink="/empresatarjetas">
        <ion-label style="color: white">Tarjetas Aceptadas</ion-label> <img class="user-img"
          src="../../assets/imgs/pago.svg" alt="">
      </ion-item>
      <ion-item  routerLink="/empresaredessociales">
        <ion-label style="color: white">Redes Sociales</ion-label> <img class="user-img"
          src="../../assets/imgs/esquema.svg" alt="">
      </ion-item>
      <ion-item  routerLink="/empresaofertas">
        <ion-label style="color: white">Ofertas</ion-label> <img class="user-img"
          src="../../assets/imgs/rebaja.svg" alt="">
      </ion-item>
      <ion-item routerLink="/empresacomentarios">
        <ion-label style="color: white">Comentarios</ion-label>
        <ion-icon slot="end" style="color: white;" name="chatboxes"></ion-icon>
      </ion-item>
      <ion-item  routerLink="/empresaventas">
        <ion-label style="color: white">Ventas realizadas</ion-label> <img class="user-img"
          src="../../assets/imgs/venta.svg" alt="">
      </ion-item>
      <ion-item  routerLink="/empresapedidos">
        <ion-label style="color: white">Pedidos FARMACIA Y SUPERMERCADO</ion-label>
      </ion-item>
      <ion-item  routerLink="/show-event-boliche">
        <ion-label style="color: white">Pedidos BOLICHE</ion-label>
      </ion-item>
      <ion-item  routerLink="/show-ticket-espectaculo">
        <ion-label style="color: white">Pedidos ESPECTACULO</ion-label>
      </ion-item>
    </ion-item>
    <ion-item  routerLink="/show-empresa-producto-gastronomia">
      <ion-label style="color: white">Pedidos GASTRONOMIA</ion-label>
    </ion-item>
      <ion-item routerLink="/home">
        <ion-label style="color: white">Cerrar sesión</ion-label>
        <ion-icon slot="end" style="color: white" name="log-out"></ion-icon>
      </ion-item>
    </div>
</ion-content>