ion-header {
    background: rgb(234, 97, 95)
}
.img {
    border: black solid 1px;
    border-radius: 5px;
    margin-left: 10px;
}
.descripcion{

    margin-left: 6vw;
}

.titulo {


    margin-left: 5vw;
}