ion-toolbar {
    --background: linear-gradient(#ea615f, #bd1232);
  
  }
  
  #googlemaps {
    height: 30vh;
    width: 100%;
  }
  
  .img {
    height: 80px;
    width: 105px;
    border-radius: 5px;
  
  }
  
  .filtros {
    max-height: 60vh;
    width: 100%;
    background: white;
    margin-bottom: 0;
    bottom: 0;
    overflow-y: scroll;
  } 
  
  .dropdown {
    margin: 0;  
    font-weight: bold;
    color: white;
    --background: linear-gradient(#fe8573, #bb0d30);
  
  }
  
  .filtrosEstilo {
  
    background: rgba(0, 0, 0, .3);
  
    z-index: 9999999999;
  }
  
  .subcategoria {
  
    height: 100%;
    width: 100%;
  }
  .tituloimage {
    text-align: center;
    position: absolute;
    background: red;
    width: 100vw;
    color: white;
  
  
  }
  .subcategoria1 {
  
    height: 100%;
    width: 100%;
    background: red;
  }