<ion-header>
  <div style="background: rgb(194, 25, 55);">
    <ion-buttons slot="start">
      <ion-back-button color="light">
      </ion-back-button>
    </ion-buttons>
  </div>
  <ion-toolbar>
    <div class="ion-text-center">
      <img class="user-img1" src="../../assets/imgs/cinemark.png" alt="">
      <h2 style="margin: 0; padding: 0; color: white"> Cinemark </h2>
      <h2 style="margin: 0; padding: 0; color: white"> 4.5 <ion-icon style="color: yellow" name="star"></ion-icon>
      </h2>
    </div>
  </ion-toolbar>
</ion-header>

<!-- CREAR NUEVA PELICULA -->
<ion-content class="ion-padding">
  <div class="ion-text-center">
  </div>  
  <div>
    <h1>
        Crear Nueva Pelicula:
    </h1>
    <ion-item>
        <ion-label position="floating" color="danger">Titulo de la Pelicula</ion-label>
        <ion-input></ion-input>        
    </ion-item>
    <ion-text color="medium"><p>Ejemplos: Los Vengadores, Buscando a Nemo</p></ion-text>  

<!-- FECHA DE PELICULA -->
<ion-grid>
  <ion-row>
      <ion-col size="6">   
        <ion-item>
          <ion-label  position="floating" color="danger">Fecha de Inicio</ion-label>
            <ion-datetime display-format="YYYY MMMM DD" min="2000-01-01" max="2050-12-31" cancelText="Cancelar" doneText="Guardar"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="6">   
        <ion-item>
          <ion-label  position="floating" color="danger">Fecha de Fin</ion-label>
            <ion-datetime  display-format="YYYY MMMM DD" min="2000-01-01" max="2050-12-31"  cancelText="Cancelar" doneText="Guardar"></ion-datetime>
        </ion-item>
      </ion-col>
  </ion-row>
</ion-grid>
    
    

    <h5>
      Horarios:
  </h5>
<!-- DIA DE PELICULA -->
<ion-segment color="danger" scrollable value="heart">
  <ion-segment-button value="home">
    <ion-label>LUNES</ion-label>
  </ion-segment-button>
  <ion-segment-button value="heart">
    <ion-label>MARTES</ion-label>
  </ion-segment-button>
  <ion-segment-button value="pin">
    <ion-label>MIERCOLES</ion-label>
  </ion-segment-button>
  <ion-segment-button value="star">
    <ion-label>JUEVES</ion-label>
  </ion-segment-button>
  <ion-segment-button value="call">
    <ion-label>VIERNES</ion-label>
  </ion-segment-button>
  <ion-segment-button value="globe">
    <ion-label>SABADO</ion-label>
  </ion-segment-button>
  <ion-segment-button value="basket">
    <ion-label>DOMINGO</ion-label>
  </ion-segment-button>
</ion-segment>
<!-- HORARIO DE PELICULA -->


<ion-grid class="box">
  <ion-row>
      <ion-col size="4">   
        <ion-item>
          <ion-label  position="floating" color="danger">Horario</ion-label>
            <ion-datetime display-format="HH MM"  cancelText="Cancelar" doneText="Guardar"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="4">   
        <ion-item>
          <ion-label  position="floating" color="danger">Horario</ion-label>
            <ion-datetime display-format="HH MM"  cancelText="Cancelar" doneText="Guardar"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="4">   
        <ion-item>
          <ion-label  position="floating" color="danger">Horario</ion-label>
            <ion-datetime display-format="HH MM"  cancelText="Cancelar" doneText="Guardar"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="box1">
    <ion-row>
      <ion-col size="4">   
        <ion-item>
          <ion-label  position="floating" color="danger">Horario</ion-label>
            <ion-datetime  display-format="HH MM" cancelText="Cancelar" doneText="Guardar" ></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="4">   
        <ion-item>
          <ion-label  position="floating" color="danger">Horario</ion-label>
            <ion-datetime  display-format="HH MM" cancelText="Cancelar" doneText="Guardar" ></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="4">   
        <ion-item>
           <ion-icon style="margin-left: 4vw;" class="ion-text-center" color="danger" size="large" name="add-circle"></ion-icon>
           
        </ion-item>
      </ion-col>
      
  </ion-row>
</ion-grid>


<!-- ENTRADAS DE PELICULA -->
    <ion-grid>
      <ion-row>
          <ion-col size="12">
              <ion-item>
                <ion-input placeholder="Tipo de Entrada"></ion-input>
              </ion-item>
          </ion-col>  
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
          <ion-col size="12">
              <ion-item>
                <ion-input placeholder="Cantidad de Entradas"></ion-input>
              </ion-item>
          </ion-col>  
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
          <ion-col size="12">
              <ion-item>
                <ion-input placeholder="Descripcion de la entrada"></ion-input>
              </ion-item>
          </ion-col>  
      </ion-row>
    </ion-grid>

    

    <ion-col size="6">
      <ion-item>                    
          <ion-input placeholder="Precios del Articulo (ARS)"></ion-input>
      </ion-item>
  </ion-col>
  
    <ion-col size="6">
      <ion-item>         
          <ion-label>Condiciones del descuento</ion-label>           
          <ion-select okText="OK" cancelText="Cancelar">
            <ion-select-option value="brown">Efectivo</ion-select-option>
            <ion-select-option value="black">Banco Galicia Visa</ion-select-option>
            <ion-select-option value="pink">Santander Black</ion-select-option>
            <ion-select-option value="blue">Clarin 365</ion-select-option>
            <ion-select-option value="red">Otros (Describe)</ion-select-option>
          </ion-select>
      </ion-item>   
    </ion-col>

      <ion-col size="12">
          <ion-item>         
              <ion-label>Tipo del descuento</ion-label>           
              <ion-select okText="OK" cancelText="Cancelar">
                <ion-select-option value="brown">50%</ion-select-option>
                <ion-select-option value="blonde">40%</ion-select-option>
                <ion-select-option value="black">30%</ion-select-option>
                <ion-select-option value="red">25%</ion-select-option>
              </ion-select>
          </ion-item>
          <span>
            <img style="height: 11vw; margin-left: 41vw;" src="../../assets/imgs/add.svg" alt="">
          </span>
      </ion-col>  
    

    <div class="ion-text-center">
      <img src="" alt="">
      <ion-text color="danger">
        <p>Añade una foto o un video para que tu publicacion destaque</p>
      </ion-text>     
      <ion-button routerLink="/producto1" shape="round" color="danger">Guardar</ion-button> 
    </div>
    
    
</div>

</ion-content>